*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/*le corps de notre html*/
body{
        font-family: 'Gill sans','gill sans MT ','','Trebuchet MS';
    line-height: 1.4;
}
.container{
    margin:0 auto;
    padding: 50px;
    width: 65%;
    height: 650px;
    background-color:#ebf8fb;
    border:1px rgb(242, 242, 242);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.messagerie{
    display: flex;
}
section h2{
    border:1px solid #F9EBEA ;
    text-decoration: underline;
    border-radius: 5px 5px 0px 0px;
    background-color:#F9EBEA ;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0px;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.user{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.user li{
    font-size: 15px;
    width: fit-content;
    margin-top: 5px;
    border-radius: 10px;
    padding:5px 5px 5px 5px ;
    list-style: circle;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-family: 'roboto';
}
.user h3{
    text-decoration:underline;
    margin-top: 10px;
    font-weight: bolder;
}
/**********************************************corps du chatroom*********************/
.message {
    background-color:white;
    border-radius: 0px 0px 10px 10px;
    width:215%;
    height: 400px;
    padding: 0 20px;
    overflow: auto;
}
.liste{
    display: flex;
    flex-direction: column;
}
.liste h3{
    font-size: 0.9em;
}
.liste span{
    font-size: 0.8em;
    color:#d3d3d3;
    font-style: italic;
    margin-left:80% ;
}
p{
    display: inline-block;
    margin: 5px 0px 10px 40px;
    padding: 10px;
    background-color: #F9EBEA;
    border-radius:30px;
    border-top-left-radius: 0;
    transition:0.5;
}
/*******************************************formulaire**********************/
form{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}
input{
    width: 10%;
}
input, textarea, .btn{
    border-radius: 10px;
    height: 20px;
    background-color: #f9ebea;
    border: 1px solid black;
}
.btn a{
    color: black;
    padding: 0 10px;
}
textarea{
    resize: none;
}

